@using MovieTheater.Models.Infra.Seat.KindOfSeat
@model List<SeatTypeVMD>
@{
    ViewData["Title"] = "EditKindOfSeat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/SeatRow">Loại ghế</a>
    </li>
    <li class="breadcrumb-item active">Loại ghế</li>
</ol>

@section Scripts{
    <script>
        setTimeout(function() {
                $("#SuccessMeg").fadeOut('slow');
            },
            2000);
    </script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex">
            <div class="p-2">
                <a class="btn btn-success" asp-action="CreateKindOfSeat" asp-controller="Seat">Tạo mới</a>
            </div>

        </div>
    </div>
    <div>
        @if (ViewBag.SuccessMsg != null)
        {
            <div id="SuccessMeg" class="alert alert-success" role="alert">
                @ViewBag.SuccessMsg
            </div>
        }
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>

                <th>
                    ID
                </th>
                <th>
                    Tên
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                   @* <td>
                        @Html.ActionLink("Chi tiết", "EditKindOfSeat", new { id = item.Id }) |
                        <a href="" data-toggle="modal" data-name="@item.Name" data-target="#deleteKindOfSeat" onclick="holdData(this)" data-id="@item.Id">Xóa</a>&nbsp;
                    </td>*@
                </tr>
            }
            </tbody>
        </table>
        <div class="d-flex">
            <div class="ml-auto p-2">

            </div>
        </div>
    </div>
</div>

<!--model delete-->
<input id="nameKindOfSeat" hidden/>
<input id="idKindOfSeat" hidden/>

<div class="modal fade" id="deleteKindOfSeat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center">
                    <h5 id="ModalLabel">Thông báo</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteMeg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="deleteKindOfSeat()">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script>
    function holdData(item) {
        var name = $(item).attr("data-name");
        var id = $(item).attr("data-id");
        $("#nameKindOfSeat").val(name);
        $("#idKindOfSeat").val(id);
        $("#deleteMeg").text("Bạn muốn xóa " + name);
    }

    $(function() {

        $("#deleteKindOfSeatKindOfSeat").on('show.bs.modal',
            function() {
                name = $("#nameKindOfSeat").val();

            });

    });

    function deleteKindOfSeat() {
        var userId = $("#idKindOfSeat").val();
        $.ajax({
            type: "POST",
            url: "/Seat/Delete",
            data: { id: userId },
            success: function() {
                location.reload();
            }
        })
    }
</script>