@using MovieTheater.Models.Common.Paging
@using MovieTheater.Models.Catalog.Reservation
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PageResult<ReservationVMD>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    .card {
        z-index: 0;
        background-color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .top {
        padding-top: 10px;
        padding-right: 10px !important;
    }

    .thumbnail {
        background-color: #fff;
        border: 1px solid #dddfeb;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        max-width: 100%;
        height: 150px;
        width: 100px;
    }

    .bold { color: #12263f; }

  
   
</style>


@section Scripts{
    <script>
        setTimeout(function() {
                $("#SuccessMeg").fadeOut('slow');
            },
            2000);
    </script>
}

<div class="section">
    <div class="container">
        <div class="section-header">
            LỊCH SỬ MUA HÀNG
        </div>
    </div>
    <div class="container">
        <div class="d-flex caution">
            Lưu ý bạn có 7 phút để chọn ghế và 5 phút để thanh toán vé. Sau thời gian trên nếu chưa thanh toán đơn hàng sẽ tự động bị xóa bởi hệ thống
        </div>
        <div class="mb-5">
            <div class="py-3">
                <div class="d-flex">
                    <div class="ml-auto p-2">
                        <form asp-action="Index" method="get" style="display: none !important">
                            <div class="row">
                                <div>
                                    &nbsp;
                                </div>
                                <div>
                                    <!--input type="text" value="@ViewBag.UserInfor" name="keyword" class="form-control" placeholder="SĐT Hoặc Email khách hàng" /-->
                                </div>
                                <div>
                                    <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" placeholder="Id đặt hàng"/>
                                </div>
                                <div>
                                    &nbsp;
                                </div>
                                <div>
                                    <button type="submit" class="btn btn-primary">Tìm</button>
                                    <button type="button" onclick="window.location.href = '/Reservation/Index'" class="btn btn-light">
                                        <img src="https://img.icons8.com/ios-filled/20/000000/rotate.png"/>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div>
                @if (ViewBag.SuccessMsg != null)
                {
                    <div id="SuccessMeg" class="alert alert-success" role="alert">
                        @ViewBag.SuccessMsg
                    </div>
                }
                @{
                    foreach (var item in Model.Item)
                    {
                        <div class="card shadow-0 border mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-1">
                                        <img src="@item.Poster"
                                             class="img-fluid" alt="Ticket">
                                    </div>
                                    <div class="d-flex flex-column col-11">
                                        <div style="color: black;" class="row">
                                            <font size="+1">
                                                <strong>@item.MovieName</strong>
                                            </font>
                                        </div>
                                        <div class="row" style="margin: 10px 0px;">
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0">@item.Id
                                                </p>
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">@item.Time.ToString("hh:mm dd-MM-yyyy")</p>
                                            </div>

                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">@item.PaidName</p>
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small">@item.Tickets?.Count()</p>
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <p class="text-muted mb-0 small"> @string.Format(new CultureInfo("vi-VN"), "{0:C}", item.TotalPrice)</p>
                                            </div>
                                            <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                                <a href="/Reservation/detail/@item.Id">Chi tiết</a>
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-center">

                                            @if (item.Paid == "none")
                                            {
                                                <a class="btn-warning btn-sm" href="/Reservation/create/@item.Id">Tiếp tục đặt vé</a>
                                            }
                                            @if (item.Paid == "inprogress")
                                            {
                                                <a onclick="payment(@item.Id)" class="btn-warning btn-sm">Tiếp tục thanh toán</a>
                                            }
                                            @if (item.Paid == "inprogress" || item.Paid == "none")
                                            {
                                                <a class="btn-danger btn-sm" href="/Reservation/delete/@item.Id" style="margin-left: 20px">Hủy đơn</a>
                                            }
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    }
                }
                <div class="d-flex">
                    <div class="ml-auto p-2">
                        @await Component.InvokeAsync("Pager", Model)
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function payment(id) {
        $.ajax({
            type: "POST",
            url: "/Reservation/Payment",
            data: { id: id },
            success: function(res) {
                location.replace(res);
            }
        });
    }
</script>
<style>
    .custom {
        width: 160px !important;
        border-radius: 0px;
    }

    .time { border: 1px solid #c7d6ec !important; }

    .caution {
        background-color: #f6c343;
        padding: 8px;
        margin: 10px 0px 0px 0px;
        color: #283e59;
    }

   

    .custom:hover { background-color: #c7d6ec !important; }
</style>