@using System.Globalization
@using MovieTheater.Common.Constants
@model MovieTheater.Models.Catalog.Reservation.ReservationVMD

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">Đặt vé</li>
</ol>
<div >

    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">
                <div class="card" style="border-radius: 10px;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <p><span class="font-weight-bold">Mã đơn hàng:</span> @Model.Id</p>
                                <p><span class="font-weight-bold">Tên phim:</span> @Model.MovieName</p>
                                <p><span class="font-weight-bold">Thời gian bắt đầu:</span> @Model.StartTime.ToString("HH:mm") @Model.StartTime.ToString("dd-MM-yyyy")</p>

                            </div>
                            <div class="col-6">
                                @if (!string.IsNullOrEmpty(Model.Employee))
                                {
                                    <p><span class="font-weight-bold">Nhân viên:</span> @Model.EmployeeName</p>
                                }
                                else
                                {
                                    <p><span class="font-weight-bold">Khách hàng:</span> @Model.CustomerName</p>
                                }
                                <p><span class="font-weight-bold">Thời gian đặt:</span> @Model.Time.ToString("HH:mm") @Model.StartTime.ToString("dd-MM-yyyy")</p>
                                <p><span class="font-weight-bold">Định dạng:</span> @Model.AuditoriumFormatName</p>
                                @*<p><span class="font-weight-bold">Mã đơn hàng:</span> @Model.Id</p>*@
                            </div>
                        </div>
                        <table class="w-100 table table-bordered">
                            <tr style="height: 35px">
                                <th class="text-center">
                                    STT
                                </th>
                                <th class="text-center">
                                    Ghế
                                </th>
                                <th class="text-center">
                                    Loại ghế
                                </th>
                                <th class="text-center">
                                    Khách hàng
                                </th>
                                <th class="text-center">
                                    Giá vé
                                </th>
                            </tr>
                            @for (var i=0 ;i < Model.Tickets.Count; i++)
                            {
                                <tr>
                                    <td class="text-center">
                                        @(i +1)
                                    </td>
                                    <td class="text-center">
                                        @Model.Tickets[i].Seat
                                    </td>
                                    <td class="text-center">
                                        @Model.Tickets[i].SeatType
                                    </td>
                                    <td class="text-center">
                                        @Model.Tickets[i].CustomerType
                                    </td>
                                    <td class="text-right">
                                        @string.Format(new CultureInfo("vi-VN"), "{0:C}", @Model.Tickets[i].Price)
                                    </td>
                                </tr>
                            }
                        </table>
                      

                        <div class="d-flex justify-content-between pt-2">
                            <p class="fw-bold mb-0"></p>
                            <p class="text-muted mb-0">
                                <span class="fw-bold me-4">Tổng giá: &nbsp;</span>@string.Format(new CultureInfo("vi-VN"), "{0:C}", Model.TotalPrice)
                            </p>
                        </div>

                        <div class="d-flex justify-content-between pt-2">
                            <p class="text-muted mb-0">Trạng thái thanh toán</p>
                            <p class="text-muted mb-0">
                                <span class="fw-bold me-4">@Model.PaidName</span>
                            </p>
                        </div>

                    </div>
                </div>
                @if (Model.Paid == PaymentStatusType.Done)
                {
                    <a class="btn btn-primary float-right" style="margin-top: 10px;"
                       asp-action="ListTicket" asp-route-id="@Model.Id"
                       >In vé</a>
                }
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="deleteReser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center">
                    <h5 id="ModalLabel">Thông báo</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteMeg">"Bạn có chắc muốn xóa đơn hàng"</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="deleteReser()">Xóa</button>
            </div>
        </div>
    </div>
</div>