@using MovieTheater.Models.Common.Paging
@using MovieTheater.Models.Catalog.Reservation
@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using MovieTheater.Common.Constants
@model PageResult<ReservationVMD>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">Đặt vé</li>
</ol>

@section Scripts{
    <script>
        setTimeout(function() {
                $("#SuccessMeg").fadeOut('slow');
            },
            2000);
    </script>
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex">
            <div class="ml-auto p-2">
                <form asp-action="Index" method="get">
                    <div class="row">

                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <!--input type="text" value="@ViewBag.UserInfor" name="keyword" class="form-control" placeholder="SĐT Hoặc Email khách hàng" /-->
                        </div>
                        <div>
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" placeholder="Id đặt hàng"/>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Tìm</button>
                            <button type="button" onclick="window.location.href = '/Reservation/Index'" class="btn btn-light">
                                <img src="https://img.icons8.com/ios-filled/20/000000/rotate.png"/>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        @if (ViewBag.SuccessMsg != null)
        {
            <div id="SuccessMeg" class="alert alert-success" role="alert">
                @ViewBag.SuccessMsg
            </div>
        }
        <table class="table table-bordered">
            <thead>
            <tr>

                <th>
                    ID
                </th>
                <th>
                    Thanh toán
                </th>
                <th>
                    Trạng thái
                </th>
                <th>
                    Kiểu đặt vé
                </th>
                <th>
                    Thời gian
                </th>
                <th>
                    Nhân viên đặt
                </th>
                <th>
                    Khách hàng
                </th>
                <th>Khác</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Item)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.PaidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Active)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.ReservationType)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.CustomerName)
                    </td>
                    <td>
                        @Html.ActionLink("Chi tiết", "Detail", new { id = item.Id })
                        @if (item.Employee == (User.Identity as ClaimsIdentity).Claims.Where(x => x.Type == ClaimTypes.NameIdentifier).Select(x => x.Value)
                            .FirstOrDefault() && item.Paid != PaymentStatusType.Done)
                        {
                            <button class="btn btn-danger" data-toggle="modal"  data-target="#deleteRes" onclick="holdData(@item.Id)" data-id="@item.Id">Xóa</button>

                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <div class="d-flex">
            <div class="ml-auto p-2">
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>
    </div>
</div>
<!--model delete-->
<input id="nameRoom" hidden />
<input id="idRoom" hidden />

<div class="modal fade" id="deleteRes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center">
                    <h5 id="ModalLabel">Thông báo</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteMeg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="deleteRoom()">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script>
    function holdData(id) {
        $("#idRoom").val(id);
        $("#deleteMeg").text("Bạn muốn xóa đơn đặt hàng " + id);
        $("#deleteRes").show();
    }

    $(function () {

        $("#deleteRes").on('show.bs.modal', function () {
            name = $("#nameRoom").val();

        });

    });

    function deleteRoom() {
        var id = $("#idRoom").val();
        $.ajax({
            type: "POST",
            url: "/Reservation/Delete",
            data: { id: id },
            success: function() {
                location.reload();
            }
        });
    }
</script>