@using MovieTheater.Models.Common.Paging
@using MovieTheater.Models.Catalog.Screening
@model PageResult<ScreeningVMD>
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Suất chiếu</li>
</ol>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex">
            <div class="p-2">
                <a class="btn btn-success" asp-action="Create" asp-controller="Screening">Tạo mới</a>
            </div>
            <div class="ml-auto p-2">
                <form asp-action="Index" method="get">
                    <div class="row">
                        <div>
                            <input type="date" name="date" value="@ViewBag.Date.ToString("yyyy-MM-dd")" onchange="submit()" class="form-control" />
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Tìm</button>
                            <button type="button" onclick="window.location.href='/Screening/Index'" class="btn btn-dark">Reset</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>
                        Id
                    </th>
                    <th>
                        Tên phim
                    </th>
                    <th>
                        Phòng
                    </th>
                    <th>
                        Thời gian
                    </th>
                    <th>
                        Loại xuất chiếu
                    </th>
                    <th>Khác</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Item != null)
                {
                    foreach (var item in Model.Item)
                    {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Film)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>

            @Convert.ToDateTime(item.TimeStart).ToString("dd/MM/yyyy HH:mm")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KindOfScreening)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "Edit", new { id = item.Id })

        </td>
    </tr>}
                }
            </tbody>

        </table>
        <div class="d-flex">
            <div class="ml-auto p-2">
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>

    </div>
</div>