
@using MovieTheater.Models.Catalog.Screening
@model List<KindOfScreeningVMD>
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item"><a href="/Screening">Suất chiếu</a></li>
    <li class="breadcrumb-item active">Loại suất chiếu</li>
</ol>
@section Scripts{
    <script>
        setTimeout(function () {
            $("#SuccessMeg").fadeOut('slow');
        }, 2000);
    </script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex">
            <div class="p-2">
                <a class="btn btn-success" asp-action="CreateKindOfScreening" asp-controller="Screening">Tạo mới</a>
            </div>

        </div>
    </div>
    <div>
        @if (ViewBag.SuccessMsg != null)
        {
<div id="SuccessMeg" class="alert alert-success" role="alert">
    @ViewBag.SuccessMsg
</div>}
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>
                        ID
                    </th>
                    <th>
                        Tên
                    </th>
                    <th>
                        Phụ phí
                    </th>
                    <th>
                        Khác
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surcharge)
        </td>
        <td>
            @Html.ActionLink("Chi tiết", "EditKindOfScreening", new { id = item.Id }) |
            <a href="" data-toggle="modal" data-name="@item.Name" data-target="#deleteKindOfScreening" onclick="holdData(this)" data-id="@item.Id">Xóa</a>&nbsp;
        </td>
    </tr>
}
            </tbody>
        </table>
        <div class="d-flex">
            <div class="ml-auto p-2">

            </div>
        </div>
    </div>
</div>

<!--model delete-->
<input id="nameKindOfScreening" hidden />
<input id="idKindOfScreening" hidden />

<div class="modal fade" id="deleteKindOfScreening" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center">
                    <h5 id="ModalLabel">Thông báo</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteMeg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="deleteKindOfScreening()">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script>
    function holdData(item) {
        var name = $(item).attr("data-name");
        var id = $(item).attr("data-id");
        $("#nameKindOfScreening").val(name);
        $("#idKindOfScreening").val(id);
        $("#deleteMeg").text("Bạn muốn xóa " + name);
    }

    $(function () {

        $("#deleteKindOfScreeningKindOfScreening").on('show.bs.modal', function () {
            name = $("#nameKindOfScreening").val();

        });

    });

    function deleteKindOfScreening() {
        var userId = $("#idKindOfScreening").val();
        $.ajax({
            type: "POST",
            url: "/Screening/DeleteKindOfScreening",
            data: { id: userId },
            success: function () {
                location.reload();
            }
        })
    }
</script>