@using MovieTheater.Models.Catalog.Film
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Playing Film SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            Phim đang chiếu
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
            <!-- MOVIE ITEM -->
            @if (ViewData["PlayingFilms"] != null)
            {
                foreach (var film in ViewData["PlayingFilms"] as List<FilmVMD>)
                {
                    <a href="/film/detail/@film.Id" class="movie-item">
                        <img src="@film.Poster" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                @film.Name
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>@film.Length mins</span>
                                </div>
                                <div class="movie-info">
                                    @if (film.Genres != null)
                                    {
                                        <span>@string.Join(' ', film.Genres)</span>
                                    }

                                </div>
                                <div class="movie-info">
                                    <span>@film.Ban</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }

            }

            <!-- END MOVIE ITEM -->

        </div>
    </div>
</div>



<!-- Playing Film SECTION -->
<div class="section">
    <div class="container">
        <div class="section-header">
            Phim sắp chiếu
        </div>
        <div class="movies-slide carousel-nav-center owl-carousel">
            <!-- MOVIE ITEM -->
            @if (ViewData["UpcomingFilms"] != null)
            {
                foreach (var film in ViewData["UpcomingFilms"] as List<FilmVMD>)
                {
                    <a href="/film/detail/@film.Id" class="movie-item">
                        <img src="@film.Poster" alt="">
                        <div class="movie-item-content">
                            <div class="movie-item-title">
                                @film.Name
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>Ngày phát hành: @film.PublishDate.ToString("dd/MM/yyyy")</span>
                                </div>
                            </div>
                            <div class="movie-infos">
                                <div class="movie-info">
                                    <i class="bx bxs-star"></i>
                                    <span>9.5</span>
                                </div>
                                <div class="movie-info">
                                    <i class="bx bxs-time"></i>
                                    <span>@film.Length mins</span>
                                </div>

                                <div class="movie-info">
                                    @if (film.Genres != null)
                                    {
                                        <span>@string.Join(' ', film.Genres)</span>
                                    }

                                </div>
                                <div class="movie-info">
                                    <span>@film.Ban</span>
                                </div>
                            </div>
                        </div>
                    </a>
                }

            }

            <!-- END MOVIE ITEM -->

        </div>
    </div>
</div>
<!-- END Playing Film SECTION -->
