@using MovieTheater.Models.Common.Paging
@using MovieTheater.Models.Infra.RoomModels
@model PageResult<RoomVMD>
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Phòng</li>
</ol>
@section Scripts{
    <script>
        setTimeout(function () {
            $("#SuccessMeg").fadeOut('slow');
        }, 2000);
    </script>
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex">
            <div class="p-2">
                <a class="btn btn-success" asp-action="Create" asp-controller="Room">Tạo mới</a>
            </div>
            <div class="ml-auto p-2">
                <form asp-action="Index" method="get">
                    <div class="row">

                        <div>
                            <select name="formatId" onchange="this.form.submit()" asp-items="@ViewBag.RoomFormats" class="form-control">
                            </select>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Tìm</button>
                            <button type="button" onclick="window.location.href='/Room/Index'" class="btn btn-light"><img src="https://img.icons8.com/ios-filled/20/000000/rotate.png" /></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        @if (ViewBag.SuccessMsg != null)
        {
            <div id="SuccessMeg" class="alert alert-success" role="alert">
                @ViewBag.SuccessMsg
            </div>      }
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Mã phòng
                    </th>
                    <th>
                        Tên phòng
                    </th>
                    <th>
                        Loại phòng
                    </th>
                    <th>
                        Khác
                    </th>
                </tr>
            </thead>
            <tbody>
                @{ if (Model.Item != null)
                    {
                        foreach (var item in Model.Item)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Format)
                                </td>

                                <td>
                                    @Html.ActionLink("Chi tiết", "Edit", new { id = item.Id }) |
                                    <a href="" data-toggle="modal" data-name="@item.Name" data-target="#deleteRoom" onclick="holdData(this)" data-id="@item.Id">Xóa</a>&nbsp;|&nbsp;
                                    @Html.ActionLink("Cập nhật sơ đồ ghế", "UpdateSeatInRoom", new { roomId = item.Id })
                                </td>
                            </tr>
                        }
                    } }
            </tbody>
        </table>
        <div class="d-flex">
            <div class="ml-auto p-2">
                @await Component.InvokeAsync("Pager", Model)
            </div>
        </div>
    </div>
</div>
<!--model delete-->
<input id="nameRoom" hidden />
<input id="idRoom" hidden />

<div class="modal fade" id="deleteRoom" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="d-flex justify-content-center">
                    <h5 id="ModalLabel">Thông báo</h5>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="deleteMeg"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" onclick="deleteRoom()">Xóa</button>
            </div>
        </div>
    </div>
</div>
<script>
    function holdData(item) {
        var name = $(item).attr("data-name");
        var id = $(item).attr("data-id");
        $("#nameRoom").val(name);
        $("#idRoom").val(id);
        $("#deleteMeg").text("Bạn muốn xóa " + name);
    }

    $(function () {

        $("#deleteRoomRoom").on('show.bs.modal', function () {
            name = $("#nameRoom").val();

        });

    });

    function deleteRoom() {
        var userId = $("#idRoom").val();
        $.ajax({
            type: "POST",
            url: "/Room/Delete",
            data: { id: userId },
            success: function () {
                location.reload();
            }
        })
    }
</script>