@using MovieTheater.Models.Catalog.Film
@using Microsoft.AspNetCore.Html

@model MovieVMD

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <img class="img-banner" src="@Model.Poster" title="poster"/>
    <div class="overlay">
    </div>
    <div class="container">
        <div class="text-wrapper">
            <h1>@Model.Name</h1>
            <h5>@string.Join(" ", @Model.Genres)</h5>
            <h5 style="display: flex; align-items: center">
                <img src="https://img.icons8.com/ios/20/ffffff/clock--v1.png"/>
                &nbsp;
                @Model.Length phút &nbsp;&nbsp;

                <img src="https://img.icons8.com/external-those-icons-fill-those-icons/20/ffffff/external-Check-user-actions-those-icons-fill-those-icons.png"/>
                &nbsp;
                @Model.Ban
            </h5>
            <p>
                @(new HtmlString(Model.Description))
            </p>
            <iframe width="100%" height="400px" src="@Model.TrailerURL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

            </iframe>
            <a class="btn btn-danger w-100" style="margin: 20px"
               asp-controller="Film"
               asp-action="ScreeningInWeek" asp-route-id="@Model.Id">
                Đặt vé
            </a>
        </div>
    </div>
</div>
<hr/>


<script>
    $(document).ready(function() {

        // Gets the video src from the data-src on each button

        var $videoSrc;
        $('.video-btn').click(function() {
            $videoSrc = $(this).data("src");
        });
        console.log($videoSrc);

        // when the modal is opened autoplay it
        $('#trailerModal').on('shown.bs.modal',
            function(e) {

                // set the video src to autoplay and not to show related video. Youtube related video is like a box of chocolates... you never know what you're gonna get
                $("#video").attr('src', $videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0");
            })

        // stop playing the youtube video when I close the modal
        $('#trailerModal').on('hide.bs.modal',
            function(e) {
                // a poor man's stop video
                $("#video").attr('src', $videoSrc);
            })

        // document ready
    });
</script>

<style>
    .custom {
        width: 160px !important;
        border-radius: 0px;
    }

    .time { border: 1px solid #c7d6ec !important; }

    .caution {
        background-color: #f6c343;
        padding: 8px;
        margin: 10px 0px 0px 0px;
        color: #283e59;
    }

    .banner {
        position: relative;
        overflow: hidden;
        flex-wrap: wrap;
        display: flex
    }

    .overlay {
        position: absolute;
        right: 0px;
        left: 0px;
        top: 0px;
        bottom: 0px;
        background: rgba(0, 0, 0, 0.85);
    }

    .img-banner {
        width: 100%;
        height: auto;
    }

    .text-wrapper {
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
        align-items: center;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        margin: 50px auto !important;
        max-width: 720px;
    }

    .custom:hover { background-color: #c7d6ec !important; }
</style>