@using MovieTheater.Models.Catalog.Film;
@model List<FilmScreeningVMD>;
@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="breadcrumb mb-4 d-flex justify-content-center" style="color:red;font-weight:700">LỊCH CHIẾU PHIM</div>


<div class="d-flex justify-content-between">
    @for (int i = 0; i < 7; i++)
    {
        DateTime date = @DateTime.Now.AddDays(i);
        DateTime dateChoose = DateTime.Now;
        if (!string.IsNullOrWhiteSpace(ViewContext.HttpContext.Request.Query["date"]))
            dateChoose = DateTime.Parse(ViewContext.HttpContext.Request.Query["date"]);
        if (date.Date == dateChoose.Date)
        {
<a class="btn  custom" style="background-color:gold" href="/film/schedule?date=@date.ToString("d")" data-date="@date">@date.Month/@date.Day</a> }
                else
                {
<a class="btn  custom" href="/film/schedule?date=@date.ToString("d")" data-date="@date">@date.Month/@date.Day</a>}


            }
</div>

<br />
<div class="card">
    <div class="card-body">

        @if (Model != null)
        {
            foreach (var filmScreening in Model)
            {
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3 col-sm-2">
                <img src="@filmScreening.Movie.Poster" class="img-fluid img-thumbnail" />
            </div>
            <div class="col-10">
                <div style="color:black" class="row">
                    <font size="+1"><strong>@filmScreening.Movie.Name</strong></font>
                </div>
                <div class="row">
                    <p class="mr-2">@filmScreening.Movie.Ban </p>
                    <p class="mr-2">@filmScreening.Movie.Length phút</p>
                    <a href="@filmScreening.Movie.TrailerURL" style="color:darkblue">Trailer</a>
                </div>
                <div class="row">
                    @if (filmScreening.ListScreening != null)
                    {
                        foreach (var screening in filmScreening.ListScreening)
                        {
                            if (screening.StartTime.AddMinutes(30) > DateTime.Now)
                            {
<a class="btn  time mr-2" href="/ticket/chooseseat/@screening.Id">@screening.StartTime.ToString("HH:mm")</a> }
                            else
                            {
<a class="btn btn-secondary time mr-2" style="cursor:no-drop">@screening.StartTime.ToString("HH:mm")</a>}

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>}
            }
    </div>
</div>
<style>
    .custom {
        width: 160px !important;
    }

        .custom:hover {
            background-color: gold !important;
        }
</style>