@model MovieTheater.Models.Common.ChartTable.CalRevenueRequest
@using MovieTheater.Models.Common.ChartTable
@using AspNetCore.Reporting
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Globalization
@using System.Text.Json;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
        <a href="/">Trang chủ</a>
    </li>
    <li class="breadcrumb-item active">Thống kê</li>
</ol>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="d-flex">

            <div class="ml-auto p-2">
                <div class="row">
                    <form asp-action="Index" class="d-flex" method="get">
                        <div>
                            <input id="startDate" class="form-control" type="date" asp-for="StartDate"/>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <input id="endDate" class="form-control" type="date" asp-for="EndDate"/>
                        </div>
                        <div>
                            &nbsp;
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Tìm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body d-flex align-items-stretch">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    Top doanh thu
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>
                                    Phim
                                </th>
                                <th>
                                    Doanh thu
                                </th>
                            </tr>
                            @{
                                var topRevenue = (ChartData)ViewData["TopRevenueFilm"];
                                for (int i = 0; i < topRevenue.Lables.Count; i++)
                                {
                                    <tr>
                                        <td>@topRevenue.Lables[i]</td>
                                        <td class="text-right">
                                            @string.Format(new CultureInfo("vi-VN"), "{0:C}", topRevenue.DataRows[1][i])
                                        </td>
                                    </tr>
                                }
                            }
                            </thead>
                            <tbody id="tbbodyFilmRevenue">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">

                    <a class="btn btn-primary" onclick="dowloadFilmRevenue(@((int)RenderType.Excel))">Tải xuống file Excel</a>
                    <a class="btn btn-primary" asp-action="DownloadRawData" asp-route-fromDate="@Model.StartDate"
                       asp-route-toDate="@Model.EndDate">Export Rawdata</a>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <p class="m-0 font-weight-bold text-primary">Danh thu theo ngày trong tuần</p>
                </div>
                <div class="card-body">
                    <canvas id="RevenueDateInWeek" class="fa-chart-pie"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/vendor/chart.js/Chart.js"></script>
<script src="/vendor/chart.js/chartjs-plugin-colorschemes.min.js"></script>
<script>
    var startDate = document.getElementById('startDate').value;
    var endDate = document.getElementById('endDate').value;
    function showChar() {
        var ctx = $("#RevenueDateInWeek");

        var chartData = @Json.Serialize(ViewData["RevenueDataInWeek"]);
        console.log(chartData);
        var myLineChart = new Chart(ctx,
            {
                type: 'pie',
                data: {
                    labels: chartData.lables,
                    datasets: [
                        {
                            data: chartData.dataRows[1],
                                   
                        }
                    ]
                },
                options: {
                    plugins: {

                        colorschemes: {

                            scheme: 'tableau.Tableau20'

                        }

                    },
                    title: {
                        display: true,
                        text: 'Danh thu theo tuần'
                    }
                }
            });
    }

    showChar();
    function dowloadFilmRevenue(mode) {
        var fileName = "report";
        var startDate = document.getElementById('startDate').value;
        var endDate = document.getElementById('endDate').value;
        $.ajax({
            type: "POST",
            url: "/Statitic/FilmRevenueReport",
            data: { startDate: startDate, endDate: endDate, renderType: mode },
            success: function(data) {
                var linkSource;
                var downloadLink;
                var fileName;

                switch (mode) {
                case @((int)(RenderType.Pdf)):
                {
                    linkSource = `data:application/pdf;base64,${data}`;
                    downloadLink = document.createElement("a");
                    fileName = "TopDanhThu.pdf";
                    break;
                }
                case @((int)(RenderType.Excel)):
                {
                    linkSource = `data:application/excel;base64,${data}`;
                    downloadLink = document.createElement("a");
                    fileName = "TopDanhThu.xls";
                    break;
                }
                }

                downloadLink.href = linkSource;
                downloadLink.download = fileName;
                downloadLink.click();

            }
        });
    }

</script>