@model MovieTheater.Models.Catalog.Screening.ScreeningMD

@{ ViewData["Title"] = "ChooseSeatAsync";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>@ViewBag.Film.Name  @Model.StartTime.ToString("dd/MM/yyyy HH:mm")</h2>
<div class="row">
    <div class="col-9">
        <div class="card bg-secondary text-white">
            <div class="card-body d-flex justify-content-center" style="font-size:120%">
                Màn hình
            </div>
        </div>
        <div class="card bg-light">
            <div class="card-body">
                <div class="container-fluid">
                    <div style="overflow-x:auto;">
                        <ul id="place">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div style="clear:both;width:100%" class="d-flex justify-content-center">
            <div class="row">
                <button class="seat normalSeat mr-2" ></button>
                <p class="mr-5"> Ghế thường</p>
                <button class="seat vipSeat mr-2" ></button>
                <p> Ghế vip</p>
            </div>
        </div>
        <br />>
        <div style="clear:both;width:100%" class="d-flex justify-content-center">
            <button class="btn btn-success mr-2" id="btnReserve">Đặt vé</button>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-center">
                    <p>Thành tiền</p>
                </div>
            </div>
            <div class="card-body">
                <p id="seatsName"></p>
            </div>
            <div class="card-footer">
                <div class="row">
                    <p style="color:red" class="p-2">Tổng tiền: </p>
                    <div class="ml-auto p-2">
                        <strong id="price">
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="float:left;">
</div>

<link rel="stylesheet" type="text/css" href="/css/seat.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<style type="text/css">

    #place {
        position: relative;
        margin: 7px;
    }

        #place a {
            font-size: 0.6em;
        }

        #place li {
            list-style: none outside none;
            position: absolute;
        }

        #place .row-3, #place .row-4 {
            margin-top: 10px;
        }
</style>
<script type="text/javascript">
    var mode = { normal: 1, vip: 2 };
    var settings = {
        rows: 10,
        cols: 25,
        rowCssPrefix: 'row-',
        colCssPrefix: 'col-',
        seatWidth: 35,
        seatHeight: 35,
        seatCss: 'seat',
        vipSeatCss: 'vipSeat',
        normalSeatCss: 'normalSeat',
        selectingSeatCss: 'selectingSeat'
    };
    var listRow = [];
    $(document).ready(function () {

    $.ajax({
        type: "GET",
        url: "/SeatRow/GetAllSeatRows",
        success: function (result) {
            var init = function () {
                var str = [], seatNo, className;
                settings.rows = result.length;
                for (i = 0; i < settings.rows; i++) {
                    str.push('<div class="row">');
                    str.push('<div class="btn-group">');
                    for (j = 0; j < settings.cols; j++) {
                        seatNo = result[i].name + j.toString();
                        className = settings.seatCss;

                        str.push('<button id = "' + result[i].id + '_' + j.toString() + '" class = "' + className + '"' + 'data-kindofseatid="' + result[i].kindOfSeatId +
                            '"data-row="' + result[i].id +'"data-num="' + j.toString() +'" disabled > ' +

                            '</button>');
                    }
                    str.push('</div>');
                    str.push('</div>');
                }
                $('#place').html(str.join(''));

                 $.ajax({
                    type: "GET",
                    url: "/Room/GetSeatInRoom",
                    data: { roomId : @Model.RoomId },
                    success: function (res) {
                        for (var i = 0; i < res.length;i++)
                        {
                            var idElement = res[i].rowId + '_' + res[i].number.toString();
                            var btn = document.getElementById(idElement);
                            $(btn).attr("disabled", false);
                            $(btn).attr('data-name', res[i].name);
                            $(btn).attr('data-id', res[i].id);
                            if (res[i].kindOfSeatId == mode.normal) {
                                $(btn).addClass(settings.normalSeatCss);
                            }

                            else {
                                $(btn).addClass(settings.vipSeatCss);
                            }
                            $(btn).attr('data-kindofseatid', res[i].kindOfSeatId);
                            //$(btn).html('<a title="' + res[i].name + '">' + ' ' + '</a>');

                        };

                        $.ajax({
                        type: "GET",
                        url: "/Screening/GetListSeatReserved",
                        data: { id: @Model.Id },
                        success: function (res) {
                            for (var i = 0; i < res.length; i++) {
                                var idElement = res[i].rowId + '_' + res[i].number.toString();
                                var btn = document.getElementById(idElement);

                                $(btn).addClass('taken');

                            }
                            }
                        });
                    }
                 });

            };
            //case I: Show from starting

            //Case II: If already booked
            init();

            $('#place button.' + settings.seatCss).click(function () {
                $(this).toggleClass(settings.selectingSeatCss);
                var seatsName = '';
                var tickets = [];
                 $.each($('#place button.' + settings.selectingSeatCss), function (index, value) {
                     if (!this.classList.contains('taken')) {
                          seatsName += $(this).attr('data-name') + ', ';
                         var ticket = {
                            ScreeningId: @Model.Id,
                            SeatId: $(this).attr('data-id'),
                        };
                        tickets.push(ticket);
                     }

                });
                $("#seatsName").text(seatsName);

                $.ajax({
                    type: "POST",
                    url: "/Retail/CalPrePrice",
                    data: { tickets },
                    success: function (res) {
                        $('#price').html(res.toLocaleString('vi-VN', {
                            style: 'currency',
                            currency: 'VND',
                        }));

                    }
                });

            });

        }
    })

$('#btnReserve').click(function () {
    var tickets = [];
    $.each($('#place button.' + settings.selectingSeatCss), function (index, value) {
        if (!this.classList.contains('taken')) {
             var ticket = {
            ScreeningId: @Model.Id,
            SeatId: $(this).attr('data-id'),
        };
        tickets.push(ticket);
        }

    });

    $.ajax({
        type: "POST",
        url: "/Reservation/Create",
        data: { Active: true, Paid: false, Tickets: tickets },
        success: function (res) {
            alert(res.message);
            location.reload();
        }
        });
    })
    });
</script>