@using MovieTheater.Models.Catalog.Film;
@model List<FilmScreeningVMD>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
    <li class="breadcrumb-item active">Lịch chiếu phim </li>
</ol>
<br />
<div class="d-flex justify-content-between">
    @for (int i = 0; i < 7; i++)
    {
        DateTime date = @DateTime.Now.AddDays(i);
        <a class="btn bg-light" href="/retail/index?date=@date.ToString("d")" data-date="@date">@date.Month/@date.Day</a>
    }
</div>

    <br />
    <div class="card">
        <div class="card-body">


            @if (Model != null)
            {
                foreach (var filmScreening in Model)
                {
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3 col-sm-2">
                                    <img src="@filmScreening.Film.Poster" class="img-fluid img-thumbnail" />
                                </div>
                                <div class="col-10">
                                    <div style="color:black" class="row">
                                        <font size="+1"><strong>@filmScreening.Film.Name</strong></font>
                                    </div>
                                    <div class="row">
                                        <p class="mr-2">@filmScreening.Film.Ban </p>
                                        <p class="mr-2">@filmScreening.Film.Length </p>
                                        <a href="@filmScreening.Film.TrailerURL" style="color:darkblue">Trailer</a>
                                    </div>
                                    <div class="row">
                                        @if (filmScreening.ListScreening != null)
                                        {
                                            foreach (var screening in filmScreening.ListScreening)
                                            {
                                                if (screening.TimeStart.AddMinutes(30) > DateTime.Now)
                                                {
                                                    <a class="btn  time mr-2"  href="/retail/chooseseat/@screening.Id">@screening.TimeStart.ToString("HH:mm")</a>
                                                }
                                                else
                                                {
                                    <a class="btn btn-secondary time mr-2" style="cursor:no-drop">@screening.TimeStart.ToString("HH:mm")</a>
                                                }

                                            }
                                        }
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                }
            }


        </div>
    </div>
